<!-- first screen
-----------------
where user sets his route.
-->
<template name="search">
  <div class="container container-main">

    <div class="row center-block top-items search-view">
      <br>
      <div class="col-lg-12 col-md-12 col-xs-12">

        <div class="row center-block top-items">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 {{_ 'lang'}}" align="center">
                    <input placeholder='{{_ "from_placeholder"}}' name="from-location" class="from-location form-control {{_ 'lang'}}" type="search">
                    <span class="remove-text glyphicon glyphicon-from glyphicon-remove-circle {{_ 'lang'}}"></span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 {{_ 'lang'}}" align="center">

                    <input placeholder='{{_ "to_placeholder"}}' name="to-location" class="to-location form-control {{_ 'lang'}}" type="search">
                    <span class="remove-text glyphicon glyphicon-to glyphicon-remove-circle {{_ 'lang'}}"></span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 {{_ 'lang'}}">
                    <span id="reverse-btn" class="reverse-btn glyphicon glyphicon-sort {{_ 'lang'}}"></span>
                </div>
                </div>
                  <h3 class="question {{_ 'lang'}}">{{_ "important_question"}}</h3>
                <div class="circle-buttons-screen1">
                          <a href="/results">
                            <button id="ecology" class="circle circle-main active btn btn-success btn-fab btn-raised {{_ 'lang'}}">
                            </button>
                          </a>
                          <a href="/results">
                            <button id="calories" class="circle circle-main btn btn-success btn-fab btn-raised {{_ 'lang'}}">
                            </button>
                          </a>
                          <br/>
                          <a href="/results">
                            <button id="money" class="circle circle-main btn btn-success btn-fab btn-raised {{_ 'lang'}}">
                            </button>
                          </a>
                          <a href="/results">
                            <button id="time" class="circle circle-main btn btn-success btn-fab btn-raised {{_ 'lang'}}">
                            </button>
                          </a>
                </div>
            </div>
        </div>
    </div>
    <div id="map-canvas" style="display: none;  "></div>
</template>
