@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);


/*@media only screen and (min-device-width: 480px) {*/
    html {
        /* background: url('images/backgrounds/Tel_Aviv_Tayelet.jpg') no-repeat center center fixed; */
        background: url('images/backgrounds/Jerusalem_lightrail_Jaffa_st.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        box-sizing: content-box;
        /*background: rgba(1, 133, 113, 0.5);*/
    }

    html { height: 100%; }

    body.know-tint{
        height: initial !important;
    }

    body {
        height: 100%;
        font-family: 'Open Sans Hebrew Condensed', serif;
        /* font-family: Alef, sans-serif; */
        -webkit-transition: background 0.25s ease-in;
        -moz-transition: background 0.25s ease-in;
        -o-transition: background 0.25s ease-in;
        transition: background 0.25s ease-in;
        /*padding-top: 70px;*/
        /* background: rgba(166, 97, 26, 0.5); */
        background: rgba(255, 255, 255, 0);

    }
    .top-back-button {
        position: fixed;
        left: 40px;
        top: 18px;
        display: none;
        font-size: 25px;
        cursor: pointer;
        border: none;
        background: none;
    }

    body.map .top-back-button,
    body.know-tint .top-back-button{
        display: inline-block;
    }

.english {
    float: left;
    direction: ltr;
}

.hebrew {
    float: right;
    direction: rtl;
}

container.english,
div.english {
    direction: ltr;
    align: left;
}


form.english,
h1.english,
h2.english,
h3.english,
h4.english,
h5.english,
.from-location.english,
.to-location.english {
    direction: ltr;
}

question.english
{
    text-align: center;
}

.footer-scroll.english {
    left: 0;
    direction: ltr;
}

container.hebrew,
div.hebrew {
    direction: rtl;
    align: right;
}

form.hebrew,
h1.hebrew,
h2.hebrew,
h3.hebrew,
h4.hebrew,
h5.hebrew,
.from-location.hebrew,
.to-location.hebrew {
    direction: rtl;
}

question.hebrew
{
    text-align: center
}

.footer-scroll.hebrew {
    direction: rtl;
    right: 0;
    bottom: 0;
}

div.language.english {
    /* left: 0; */
    /* bottom: 0; */
    /* margin-top: -10px; */
}

div.language.hebrew {
    /* left: 0; */
    /* bottom: 0; */
    /* margin-top: -10px; */
}

.navbar-default {
    direction: rtl;
    text-align: center;
    background-color: #009492;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    float:none;
    /*height: 50px;*/
    /*margin: 10px;*/
    /*padding: 15px 15px;*/
    font-size: 58px;
    line-height: 36px;
}

nav.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* transparent; */
}

img.navbar-brand {
    vertical-align: text-top;
}

.navbar-default .navbar-brand {
    color: black;
    background-color: transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #F49719;
}

.navbar-brand.logo {
    float: right;
    margin: 5px;

}

.navbar-brand.logo-text {
    float: left;
}

.navbar-brand {
    padding: 1px;
}

.nav > li {
    font-size: 14pt;
    position: relative;
    display: block;
    background-color: black;
}

.navbar .navbar-toggle {
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
}

div.container {
    height: 100%;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.top-items {
    margin-top: 55px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

div {
    opacity: 100;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

label {
    align-content: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.from-location,
.to-location {
    font-size: 18px;
    color: black;
    height: 42px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: whitesmoke;
}

.from-location.error,
.to-location.error {
    background-color: tomato;
}

.form-control,
.form-control:focus,
.form-control:focus:not(textarea):not(select),
.form-control:not(textarea):not(select){
    height: 42px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: whitesmoke;
}

input.form-control {
    background-color: rgba(255, 255, 255, 0.8);
}

.circle-buttons { 
     padding: 2.5px; 
     margin: 2.5px;
} 

.circle {
/*    display: inline-block;
    background: #bbbbbb;
    width: 50px;
    height: 50px;*/
    margin: 20px 0px 10px 0px;
    align-content: center;
    vertical-align: middle;
    position: relative;
    /*border-color: white; */
    /*border-width: 10px; */
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px;*/
} 
.btn.btn-fab.circle-top.deactivate {
    background-color: transparent;
    border: 2px solid whitesmoke;
}

.btn.btn-fab.circle-top {
    margin: 10px;
    padding: 2px;
    font-size: 26px;
    width: 62px;
    height: 62px;
    overflow:hidden;
    background-color: whitesmoke;
}

.deactivate img {
    margin-top: -60px;
}

.btn.btn-fab.circle-top.deactivate {
    padding: 0px !important;
}

.btn:not(.btn-link):not(.btn-flat),
.btn-default:not(.btn-link):not(.btn-flat) {
    color: black;
}

.btn.btn-fab {
    margin: 10px;
    padding: 15px;
    font-size: 26px;
    width: 72px;
    height: 72px;
    background-color: whitesmoke;
}

.btn:not(.btn-link):not(.btn-flat),
.btn-default:not(.btn-link):not(.btn-flat) {
    background-color: whitesmoke;
}

/* .circle img{ */
/*     margin-left: -25px; */
/*     margin-right: -25px; */
/*     width: 35px; */
/* } */

/* .circle:active, .active { */
/*     background: #F49719; /\*#89CCC7;*\/ */
/*     box-shadow: -2px -2px 0px 0px; */
/* } */

.icon {
    position: absolute;
    align: center;
    vertical-align: middle;
}

body.ecology {
    background: rgba(1, 133, 113, 0.5);
    opacity: 50;
}

body.calories {
    background: rgba(128, 205, 193, 0.5);
    opacity: 50;
}

body.money {
    background: rgba(223, 194, 125, 0.5);
    opacity: 50;
}


body.time  {
    background: rgba(166, 97, 26, 0.5);
    opacity: 50;
}

.transparent {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

h1, h2, h3, h4, h5, h6, label, p {
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.ecology h2,
.ecology h3,
.ecology h4,
.ecology h5,
.ecology h6,
.ecology label,
.ecology p {
    color: whitesmoke;
    background: rgba(255, 255, 255, 0);

}

.calories h2,
.calories h3,
.calories h4,
.calories h5,
.calories h6,
.calories label,
.calories p {
    color: black;
    background: rgba(255, 255, 255, 0);
}

.money h2,
.money h3,
.money h4,
.money h5,
.money h6,
.money label,
.money p {
    color: black;
    background: rgba(255, 255, 255, 0);
}

.time h2,
.time h3,
.time h4,
.time h5,
.time h6,
.time label,
.time p {
    color: whitesmoke;
    background: rgba(255, 255, 255, 0);
}

.circle-label {
    margin-top: 55px;
    margin-right: 5px;
}

.know-box div {
    background: #444444;
}

.know {
    margin-top: -15px;
}

input.form-control{
    margin: 5px;
}

div.from-to {
    align: center;
    color: white;
    font-size: 32px;
}

.result {
    margin: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.60);
    border-radius: 10px;
}

ul.results-list {
    padding-left: 10px;
}

.results-list-english {
    direction: ltr;
    align: left;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.results-list-hebrew {
    direction: rtl;
    align: right;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.result-text-english {
    color: white;
    direction: ltr;
    align: left;
}

.result-text-hebrew {
    color: white;
    direction: rtl;
    align: right;
}

.goto-map-arrow{
    margin-top:50px
}

.go-btn {
    vertical-align: text-bottom;
    margin: 10px;
}

.about {
    align-items: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.75);
}

.about h3, .about p{
    color: black;
}

#map-canvas {
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

.result h1,
.result h2,
.result h3,
.result h4,
.result h5,
.result h6,
.result p {
    color: white;
}

h4.question {
    margin-top: 30px;
}


.language {
    position: fixed;
    top: 0;
    left: 0;
    /* bottom: 0; */
    margin: auto;
    margin-left: 80px;
    padding: 15px;
}

.btn-language {
    padding: 5px;
    margin: 0px;
}

.footer-no-scroll {
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.footer-scroll {
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.visualization {
       background: rgba(255, 255, 255, 1);
       padding: 5px;
       border: 5px;

}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 300px;
  /*height: 90px;*/
  padding: 5px;
  font: 12px Alef;
  background: lightsteelblue;
  border: 0px;
  border-radius: 0px 8px 8px 8px;
  pointer-events: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.pie {
    border: 5px;
    padding: 5px;
}

th {
    padding: 2px;
}

td{
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#chart-line-duration .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
