@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);


/*@media only screen and (min-device-width: 480px) {*/
    html {
        /* background: url('images/backgrounds/Tel_Aviv_Tayelet.jpg') no-repeat center center fixed; */
        /* background: url('images/backgrounds/Jerusalem_lightrail_Jaffa_st.jpg') no-repeat center center fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        box-sizing: content-box;
    }

    html { height: 100%; }

    body.know-tint{
        height: initial !important;
    }

    body {
        height: 100%;
        font-family: 'Open Sans Hebrew Condensed', serif;
        /* font-family: Alef, sans-serif; */
        -webkit-transition: background 0.25s ease-in;
        -moz-transition: background 0.25s ease-in;
        -o-transition: background 0.25s ease-in;
        transition: background 0.25s ease-in;
        background: rgba(255, 255, 255, 0);

    }

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;

    display: block;
    background-image: url('images/backgrounds/Jerusalem_cords_bridge_640.jpg');
    width: 360px;
    height: 640px;
}

.background-image.blurred {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.content {
    background: rgba(255, 255, 255, 0);
    z-index: -1;
}

    .top-back-button {
        position: fixed;
        left: 40px;
        top: 18px;
        display: none;
        font-size: 25px;
        cursor: pointer;
        border: none;
        background: none;
    }

    body.map .top-back-button,
    body.know-tint .top-back-button{
        display: inline-block;
    }

.english {
    float: left;
    direction: ltr;
}

.hebrew {
    float: right;
    direction: rtl;
}

container.english,
div.english {
    direction: ltr;
    text-align: left;
}

h1, h2, h3, h4, h5, h6, p, span, small {
    font-family: 'Open Sans Hebrew', serif;
}

.from-location, .to-location {
    font-family: 'Open Sans Hebrew Condensed', serif;
}

form.english,
h1.english,
h2.english,
h3.english,
h4.english,
h5.english,
.from-location.english,
.to-location.english {
    direction: ltr;
}

question.english
{
    text-align: center;
}

.footer-scroll.english {
    left: 0;
    direction: ltr;
}

container.hebrew,
div.hebrew {
    direction: rtl;
    align: right;
}

form.hebrew,
h1.hebrew,
h2.hebrew,
h3.hebrew,
h4.hebrew,
h5.hebrew,
.from-location.hebrew,
.to-location.hebrew {
    direction: rtl;
}

question.hebrew
{
    text-align: center
}

.footer-scroll.hebrew {
    direction: rtl;
    right: 0;
    bottom: 0;
}

.navbar-default {
    direction: rtl;
    text-align: center;
    background-color: #009492;
}

.navbar-header {
    margin-top: 8px;
    margin-right: 0px;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    float:none;
    font-size: 58px;
    line-height: 36px;
}

nav.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* transparent; */
}

img.navbar-brand {
    vertical-align: text-top;
}

.navbar-default .navbar-brand {
    color: black;
    background-color: transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #F49719;
}

img.logo {
    float: right;
    margin: 0px;
    padding-right: 0;
    padding-left: 0;
}

.navbar-brand.logo-text {
    float: left;
}

.navbar-brand {
    padding: 1px;
}

.nav > li {
    font-size: 14pt;
    position: relative;
    display: block;
    background-color: black;
}

.navbar .navbar-toggle {
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
}

div.container {
    height: 100%;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.search-view.top-items {
    margin-top: 45px;
}

.results-view.top-items {
    margin-top: 50px;
}

hr.top-items {
    margin-top: 5px;
}

div.from-to-text {
    display: block;
    margin-top: 5px;
}

div.from-to-text h5 {
    align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

.question {
    width: 100%;
    text-align: center;
}

div {
    opacity: 100;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

label {
    align-content: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.from-location,
.to-location {
    font-size: 18px;
    color: black;
    height: 42px;
    padding-left: 15px;
    padding-right: 0px;
    background-color: whitesmoke;
}

.from-location.error,
.to-location.error {
    background-color: tomato;
}

#reverse-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -66px;
    padding: 2px;
    font-size: 12pt;
    width: 24px;
    height: 24px;
    background-color: transparent;
    color: white;
}

.english#reverse-btn {
    margin-left: -28px;
}

.hebrew#reverse-btn {
    margin-right: -28px;
}

.form-control,
.form-control:focus,
.form-control:focus:not(textarea):not(select),
.form-control:not(textarea):not(select){
    height: 42px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: whitesmoke;
}

input.form-control {
    background-color: rgba(255, 255, 255, 0.8);
}

span.remove-text {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

span.remove-text.english {
    right: 15px;
}

span.remove-text.hebrew {
    left: 15px;
}

.circle-buttons { 
    padding: 2.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.circle {
    margin: 20px 0px 10px 0px;
    align-content: center;
    vertical-align: middle;
    position: relative;
} 

.circle-top {
    background-size: 62px 62px;
    background-position: center;
}

.english#ecology.circle-top {
    background-image: url('images/icons/screen2/eco2_english.svg');
}

.english#calories.circle-top {
    background-image: url('images/icons/screen2/fit2_english.svg');
}

.english#money.circle-top {
    background-image: url('images/icons/screen2/cheap2_english.svg');
}

.english#time.circle-top {
    background-image: url('images/icons/screen2/fast2_english.svg');
}

.deactivate.english#ecology.circle-top {
    background-image: url('images/icons/screen2/eco2_english_deactivate.svg');
}

.deactivate.english#calories.circle-top {
    background-image: url('images/icons/screen2/fit2_english_deactivate.svg');
}

.deactivate.english#money.circle-top {
    background-image: url('images/icons/screen2/cheap2_english_deactivate.svg');
}

.deactivate.english#time.circle-top {
    background-image: url('images/icons/screen2/fast2_english_deactivate.svg');
}

.hebrew#ecology.circle-top {
    background-image: url('images/icons/screen2/eco2_hebrew.svg');
}

.hebrew#calories.circle-top {
    background-image: url('images/icons/screen2/fit2_hebrew.svg');
}

.hebrew#money.circle-top {
    background-image: url('images/icons/screen2/cheap2_hebrew.svg');
}

.hebrew#time.circle-top {
    background-image: url('images/icons/screen2/fast2_hebrew.svg');
}

.deactivate.hebrew#ecology.circle-top {
    background-image: url('images/icons/screen2/eco2_hebrew_deactivate.svg');
}

.deactivate.hebrew#calories.circle-top {
    background-image: url('images/icons/screen2/fit2_hebrew_deactivate.svg');
}

.deactivate.hebrew#money.circle-top {
    background-image: url('images/icons/screen2/cheap2_hebrew_deactivate.svg');
}

.deactivate.hebrew#time.circle-top {
    background-image: url('images/icons/screen2/fast2_hebrew_deactivate.svg');
}

.icon-sprite2 {
    width: 62px;
    height: 62px;
    margin: auto;
}

.btn.btn-fab.circle-top.deactivate {
    background-color: transparent;
    border: 2px solid whitesmoke;
}

.btn.btn-fab.circle-top {
    /* margin: 10px; */
    padding: 2px;
    font-size: 26px;
    width: 62px;
    height: 62px;
    overflow:hidden;
    background-color: whitesmoke;
}

/* .deactivate img { */
/*     margin-top: -60px; */
/* } */

/* .btn.btn-fab.circle-top.deactivate { */
/*     padding: 0px !important; */
/* } */

.btn:not(.btn-link):not(.btn-flat),
.btn-default:not(.btn-link):not(.btn-flat) {
    color: black;
}

.btn.btn-fab {
    margin: 10px;
    padding: 15px;
    font-size: 26px;
    width: 72px;
    height: 72px;
    background-color: whitesmoke;
}

.btn:not(.btn-link):not(.btn-flat),
.btn-default:not(.btn-link):not(.btn-flat) {
    background-color: whitesmoke;
}

.circle-main {
    overflow: hidden;
}

.circle1 {
    width: 110px;
    margin-top: -30px;
    margin-left: -35px;
}

.icon {
    position: absolute;
    align: center;
    vertical-align: middle;
}


h1, h2, h3, h4, h5, h6, label, p {
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.know-box div {
    background: #444444;
}

.know {
    margin-top: -15px;
}

input.form-control{
    margin: 5px;
}

div.from-to {
    align: center;
    color: white;
    font-size: 32px;
}

.result-header {
    padding-left: 25px;
    padding-right: 25px;
}

.result {
    margin: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.60);
    border-radius: 10px;
}

ul.results-list {
    padding-left: 10px;
}

.results-list-english {
    direction: ltr;
    align: left;
    padding: 0px;
    padding-left: 25px;
}

.results-list-hebrew {
    direction: rtl;
    align: right;
    padding: 0px;
    padding-right: 25px;
}

.result-text-english {
    color: white;
    direction: ltr;
    align: left;
}

.result-text-hebrew {
    color: white;
    direction: rtl;
    align: right;
}

li {
    list-style-type: square;
    color: gray; /* or whatever color you prefer */
}

li.chosen {
    list-style-type: square;
    color: yellow; /* or whatever color you prefer */
}

.result-text.chosen {
    font-weight: bold;
    font-size: 12pt;
}

img.result-img {
    height: 65px;
    width: 65px;
}

.goto-map-arrow{
    margin-top:55px
}

.go-btn {
    vertical-align: text-bottom;
    margin: 10px;
}

.about {
    align-items: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.75);
}

.about h3, .about p{
    color: black;
}

#map-canvas {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.result h1,
.result h2,
.result h3,
.result h4,
.result h5,
.result h6,
.result p {
    color: white;
}

h4.question {
    margin-top: 30px;
    text-align: center;
}


img.muni-logo {
    float: right;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    height: 40px;
}

.language {
    position: fixed;
    top: 0;
    left: 0;
    /* bottom: 0; */
    margin: auto;
    margin-left: 30px;
    padding: 15px;
}

.btn-language {
    padding: 5px;
    margin: 0px;
}

.footer-no-scroll {
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.footer-scroll {
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.visualization {
       background: rgba(255, 255, 255, 1);
       padding: 5px;
       border: 5px;

}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 300px;
  /*height: 90px;*/
  padding: 5px;
  font: 12px Alef;
  background: lightsteelblue;
  border: 0px;
  border-radius: 0px 8px 8px 8px;
  pointer-events: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.pie {
    border: 5px;
    padding: 5px;
}

th {
    padding: 2px;
}

td{
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#chart-line-duration .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
