<template name="about">
  <br>
  <br>
  <div class="container">
      <div class="row  center-block top-items">
        <div class="about col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h3>About AlterNative</h3>
          
          <p>AlterNative is an app for in-city navigation, which helps you make conscious choices between
            transportation methods based on your current preference - protect the environment, burn
            calories, arrive quickly, or save money. Your choices generate anonymized data collected to
            provide insights for transportation planning.</p>
        </div>
      </div>
  </div>
</template>
