<template name="setRoute">

    <div class="container">
        <br>

        <div class="row center-block top-items">
            <div class="col-lg-10 col-md-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-xs-12" align="center">
                    <input placeholder='{{_ "from_placeholder"}}' class="from-location form-control" type="text">
                </div>
                
                <button class="btn btn-flat">Button</button>
 
                <button class="btn btn-flat btn-primary">Button</button>
                
                <button class="btn btn-flat btn-success">Button</button>
                
                <button class="btn btn-flat btn-info">Button</button>
                
                <button class="btn btn-flat btn-warning">Button</button>
                
                <button class="btn btn-flat btn-danger">Button</button>

                <a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised mdi-action-grade"></a>
                <a href="javascript:void(0)" class="btn btn-primary btn-fab btn-raised mdi-action-grade"></a>
                <a href="javascript:void(0)" class="btn btn-success btn-fab btn-raised mdi-action-grade"></a>
                <a href="javascript:void(0)" class="btn btn-info btn-fab btn-raised mdi-action-grade"></a>
                <a href="javascript:void(0)" class="btn btn-warning btn-fab btn-raised mdi-action-grade"></a>
                <a href="javascript:void(0)" class="btn btn-danger btn-fab btn-raised mdi-action-grade"></a>
                
                <div class="col-lg-6 col-md-6 col-xs-12" align="center">
                    <input placeholder='{{_ "to_placeholder"}}' class="to-location form-control" type="text">
                </div>
                <hr>
                <div class="circle-buttons row">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
                            <button class="circle active">
                                <img class="ecology" src="images/ecology.png">
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="left">
                            <button class="circle">
                                <img class="calories" src="images/calories.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
                            <button class="circle">
                                <img class="money" src="images/money.png">
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="left">
                            <button class="circle">
                                <img class="time" src="images/time.png">
                            </button>
                        </div>
                        <!--<h3 align="center" class="question">What is most important to you today?</h3>-->
                        <h3 align="center" class="question">{{_ "important_question"}}</h3>
                    </div>
                    <hr>
                    <div class="col-lg-1" align="center">
                        <a href="/know">
                            <button type="button" class="know btn btn-primary btn-lg">{{_ "go_btn"}}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-scroll">
        <small>{{_ "powered_by"}}
        </small>
    </div>
    <div id="map-canvas" style="display: none;  "></div>
</template>
