<template name="login">
	<div class="login-container">
		<div class="login">
		<!-- TODO: remove this after styling! move to the header-->
		<br/> <br/> <br/> <br/>
			
			 <!-- TODO: remove this!-->
			{{#if currentUser}}
				<h2>Welcome, {{currentUser.profile.name}}!</h2>
				{{> loginButtons}}	<br/><br/>
				<!-- <button type="button" id="userDetails">Log user details to console!</button>-->
				<!--{{> search}}-->
				{{displaySearch}}
			{{else}}
				<h2>Please log in to continue</h2>
				{{> loginButtons}}
			{{/if}}


		</div>
	</div>
</template>